<% layout("listings/layouts/boilerplate") %>
<body>
  <style>
    #filters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .filter:hover {
      opacity: 1;
     
    }
    .filter {
      text-align: center;
      margin-right: 2rem;
      opacity: 0.7;
      font-size: 0.8rem;
     
    }
    .filter-HEAD {
      text-align: center;
      margin-right: 2rem;
      opacity: 1;
      font-size: 0.8rem;
     
    }
    
    body{
      color: #415364;
    }
    .product-filters{
      text-decoration: none;
      color: #415364;
    }
    .product-filters:hover{
      color: #d6006d;
    }
    .fa-bolt{
      color: #d6006d;
    }
  </style>
  
  <div id="filters">
    <div  class="filter-HEAD">
      <div>
      <p><i class="fa-solid fa-bolt"></i>ORT :</p></a></div>
    </div>
    <div  class="filter">
      <a href="/product/Electronics/sort" class="product-filters">
      <div><i class="fa-solid fa-tv"></i></div>
      <p>Electronics</p></a>
    </div>
    <div class="filter">
      <a href="/product/Toys/sort" class="product-filters">
      <div><i class="fa-solid fa-gamepad"></i></div>
      <p>Toys</p>
    </a>
    </div>
    <div class="filter">
      <a href="/product/Home/sort" class="product-filters">
      <div><i class="fa-solid fa-house"></i></div>
      <p>Home</p></a>
    </div>
    <div class="filter">
      <a href="/product/Clothing/sort" class="product-filters">
      <div><i class="fa-solid fa-shirt"></i></div>
      <p>Clothing</p></a>
    </div>
    <div class="filter">
      <a href="/product/Books/sort" class="product-filters">
      <div><i class="fa-solid fa-book"></i></div>
      <p>Books</p></a>
    </div>
  </div>


 <%if(alllistings!=""){%>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-1">
    <% alllistings.forEach(product => { %>
    <a href="/product/<%= product._id %>" class="listing-link">
      <div class="card listing-card">
        <div class="card-img-overlay"></div>
        <img src="<%= product.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
        <div class="card-body">
          <p class="card-text">
            <b><%= product.Product_name %></b><br>
            &#8377 <%= product.price ? product.price.toLocaleString("en-IN") : "N/A" %>
            
          </p>
        </div>
      </div>
    </a>
    <% }); %>
  </div>
  <% } else { %>
    <div style=" text-align: center;"><img src="https://plus.unsplash.com/premium_photo-1682310096066-20c267e20605?q=80&w=1824&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style=" border-radius: 2rem; opacity: 0.8;" class="show-img" alt="error image for having no listing created">

    <h2 style="font-family: 'Helvetica Neue', sans-serif; color: #d6006d;">
      Uh-oh! Looks like we're all out of stock!<br>
      Why not add a product and get things rolling?
   </h2>
   <p style="font-family: 'Courier New', monospace; color: #333; text-align: center;">
      (Psst... Don't worry, your perfect match is just a product away!)
   </p>
  </div>
  <%}%>
   
  