<% layout("listings/layouts/boilerplate") %>
<body>
  <style>
    #filters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .filter:hover {
      opacity: 1;
     
    }
    .filter {
      text-align: center;
      margin-right: 2rem;
      opacity: 0.7;
      font-size: 0.8rem;
     
    }
    .filter-HEAD {
      text-align: center;
      margin-right: 2rem;
      opacity: 1;
      font-size: 0.8rem;
     
    }
    
    body{
      color: #415364;
    }
    .product-filters{
      text-decoration: none;
      color: #415364;
    }
    .product-filters:hover{
      color: #d6006d;
    }
    .fa-bolt{
      color: #d6006d;
    }
  </style>
  
  <div id="filters">
    <div  class="filter-HEAD">
      <div>
      <p><i class="fa-solid fa-bolt"></i>ORT :</p></a></div>
    </div>
    <div  class="filter">
      <a href="/product/Electronics/sort" class="product-filters">
      <div><i class="fa-solid fa-tv"></i></div>
      <p>Electronics</p></a>
    </div>
    <div class="filter">
      <a href="/product/Toys/sort" class="product-filters">
      <div><i class="fa-solid fa-gamepad"></i></div>
      <p>Toys</p>
    </a>
    </div>
    <div class="filter">
      <a href="/product/Home/sort" class="product-filters">
      <div><i class="fa-solid fa-house"></i></div>
      <p>Home</p></a>
    </div>
    <div class="filter">
      <a href="/product/Clothing/sort" class="product-filters">
      <div><i class="fa-solid fa-shirt"></i></div>
      <p>Clothing</p></a>
    </div>
    <div class="filter">
      <a href="/product/Books/sort" class="product-filters">
      <div><i class="fa-solid fa-book"></i></div>
      <p>Books</p></a>
    </div>
  </div>

  <!-- <h3 style="font-family: 'Times New Roman', Times, serif; color: #af232c;">Welcome to ROUND-ABOUT!!</h3>
  <p id="typing-text" style="font-family: 'Times New Roman', Times, serif;"></p> -->
  
  <!-- <form method="get" action="/product/new">
    <button>Create new listing</button>
  </form> -->

 <%if(alllistings!=""){%>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-1">
    <% alllistings.forEach(product => { %>
    <a href="/product/<%= product._id %>" class="listing-link">
      <div class="card listing-card">
        <div class="card-img-overlay"></div>
        <img src="<%= product.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
        <div class="card-body">
          <p class="card-text">
            <b><%= product.Product_name %></b><br>
            &#8377 <%= product.price ? product.price.toLocaleString("en-IN") : "N/A" %>
            
          </p>
        </div>
      </div>
    </a>
    <% }); %>
  </div>
  <% } else { %>
    <img src="https://via.placeholder.com/360" alt="Not found">

  <h1>oho! not found</h1>
  <%}%>
   
  