<% layout("listings/layouts/boilerplate")%>
<div class="row">
    <div class="col-8 offset-2">
<body>
    <h3>Create a new product</h3>
    <br><br>
    <form method="post" action="/product" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="product[Product_name]" class="form-label">Product Name</label>
            <input type="text" name="product[Product_name]" placeholder="Enter product name" class="form-control" required>
        </div>
    
        <div class="mb-3">
            <label for="product[sku]" class="form-label">SKU</label>
            <input type="text" pattern="\d{5}" maxlength="5" name="product[sku]" placeholder="Enter SKU" class="form-control" required>
        </div>
    
        <div class="mb-3">
            <label for="product[price]" class="form-label">Price</label>
            <input type="number" name="product[price]" placeholder="Enter price" class="form-control" required>
        </div>
    
        <div class="mb-3">
            <label for="product[quantity]" class="form-label">Quantity</label>
            <input type="number" name="product[quantity]" placeholder="Enter quantity" class="form-control" required>
        </div>
    
        <div class="mb-3">
            <label for="product[image]" class="form-label">Image</label>
            <input type="file" name="product[image]" class="form-control">
        </div>
        <div class="mb-3">
            <label for="product[category]" class="form-label">Category</label>
            <select name="product[category]" class="form-control" required>
                <option value="">Select a category</option>
                <option value="Electronics">Electronics</option>
                <option value="Clothing">Clothing</option>
                <option value="Home">Home</option>
                <option value="Books">Books</option>
                <option value="Toys">Toys</option>
            </select>
        </div>
        
        
        <button class="btn btn-dark add-btn">add</button>
    </form>
    

</div>
</div>    
</body>
