<footer>
    <div class="f-info">
        <div class="f-info-search">
            <a style="color: black;" href="https://github.com/chawlasaksham/XTENSIVE"><i class="fa-brands fa-github"></i></a>
            <a style="color: black;" href="https://www.linkedin.com/in/saksham-chawla-b1b128253/"><i class="fa-brands fa-linkedin"></i></a>

        </div>
    <div class="f-info-brand">&copy; XTENSIV PRIVATE LIMITED</div>

    <div class="f-info-links">
        <a href="product/help/guide"> SiteGuide</a>
    </div>
</div>
</footer>